@import '../../../styles/variables.scss';

.listItem {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  width: 250px;
  &--card {
    position: relative;
    width: 250px;
    height: 180px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
  }
  &--card-image {
    height: 100%;
  }
  &--card-mainUserInfo {
    background: $main-color;
    width: 100%;
    color: white;
    font-size: $small-font-size;
    padding: 0.4em;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }
  &--card-mainUserInfo a {
    color: white;
  }
  &--card-mainUserInfo p {
    margin: 0 0 0 auto;
  }

  &--card-airtime {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    font-size: $small-font-size;
    top: 2px;
    right: 2px;
    border-radius: 5px;
    padding: 0.4em;
  }

  &--otherInfo {
    margin-top: 1em;
    font-size: $small-font-size;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  &--otherInfo p {
    margin: 0;
  }
}
