@import '../../../styles/variables.scss';

.listItem {
  display: flex;
  flex-direction: column;
}

.listItem_Card {
  position: relative;
  width: 180px;
  height: 180px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.listItem_Card_Image {
  width: 100%;
}

.listItem_Card_Icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
}

.listItem_Card_MainUserInfo {
  background: $main-color;
  width: 100%;
  color: white;
  font-size: $small-font-size;
  padding: 0.2em;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

.listItem_OtherInfo {
  margin-top: 1em;
  font-size: $small-font-size;
}

.listItem_OtherInfo p {
  margin: 0;
}
