@import '../../../styles/variables.scss';

.listItem {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  &--card {
    position: relative;
    width: 180px;
    height: 180px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
  }
  &--card-image {
    width: 100%;
  }
  &--card-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    background: white;
    border-radius: 5px;
  }
  &--card-mainUserInfo {
    background: $main-color;
    width: 100%;
    color: white;
    font-size: $small-font-size;
    padding: 0.2em;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
  }
  &--otherInfo {
    margin-top: 1em;
    font-size: $small-font-size;
  }
  &--otherInfo p {
    margin: 0;
  }
}
