.episodeContainer {
  margin: 3em;
  &--filterGroup {
    display: flex;
    flex-direction: row;
    margin: 2em 0;
    align-items: center;
    position: relative;
  }
  &--filterGroup-searchBar {
    width: 700px;
  }
  &--filterGroup-filter {
    height: 30px;
    width: 72px;
    right: 2em;
    margin-left: auto;
    z-index: 100;
    position: absolute;
    top: calc(50% - 15px);
    background: white;
  }
}

.list {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  &--item {
    animation: fadeIn 1.5s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
