@import '~/styles/variables.scss';

/* Theme */

.default {
  color: black;
  background: $light-gray;
  border-radius: 5px;
}

.selected {
  color: white;
  background: $main-color;
  border-radius: 5px;
}

.button {
  font-size: $large-font-size;
  border: none;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}
