@import '../../../styles/variables.scss';

.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  &--image {
    width: 110px;
    margin-right: 2em;
  }
  &--button {
    width: 210px;
    height: 34px;
    margin: 0 1em;
  }
}
